{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <div class="text-center mb-5">
     <div id="mydiv">
     </div>
      <div class="clear"></div>
      <button id="download" class="btn btn-success d-inline-block">Download all images</button>
    </div>
    <div>{{ sections }}</div>
    {% for section in sections %}
        myarr.push({{section|safe}})
    {% endfor %}
  
      
        
{% endblock %}
{% block inline_javascript %}
  <script src="https://unpkg.com/merge-images"></script>

  <script>
    function onlyUnique(value, index, self) {
      return self.indexOf(value) === index;
    }

    let myarr = []  
    {% for section in sections %}
        myarr.push({{section|safe}})
    {% endfor %}
    console.log({{section|safe}})
    let robots = myarr;
    let counter = 0;
    let newArr = robots[0]
    let reservArr = []
    let csutomArr = []
    while (counter < robots.length-1){
      for (let i = 0; i < newArr.length; i++) {
        for (let j = 0; j < robots[counter+1].length; j++) {
          if(Array.isArray(newArr[i])){
            csutomArr = [...newArr[i]] ;
            csutomArr.push(robots[counter+1][j])
            reservArr.push(csutomArr)
          }else{
            reservArr.push( [newArr[i],robots[counter+1][j]])
          }
        }
      }
      newArr = reservArr;
      reservArr = [];
      counter++;
    }
    function sort_by_key(array, key){
        return array.sort(function(a, b){
          var x = a[key]; var y = b[key];
          return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        });
    }
    let treated_arry = []
    let unfound = []
    let i = 0;
    for (i = 0; i < newArr.length; i++) {
      let mergeArr = [];
      let excluded_all = [];
      let id_all = [];
      for (let j = 0; j < newArr[i].length; j++) {
        let tempElem = newArr[i][j];
        id_all.push(tempElem.id);
        excluded_all.push(tempElem.id);
        // excluded_all.push(...tempElem.exluded);
      }
      for (let j = 0; j < newArr[i].length; j++) {
        let tempElem = newArr[i][j];
        id_all.push(tempElem.id);
        excluded_all.push(...tempElem.exluded);
      }
      var unique = excluded_all.filter(onlyUnique);
      const filteredArray = unique.filter(value => id_all.includes(value))
      if (filteredArray.length >= newArr[i].length){
        for (let j = 0; j < newArr[i].length; j++) {
          let tempElem = newArr[i][j];
          mergeArr.push({src : "/media/"+tempElem.image, position_x: tempElem.position_x , position_y: tempElem.position_y, sort_order: tempElem.sort_order});
        } 
        
      }else{
        
      }
      if(mergeArr.length > 0){
        let sorted_arr = sort_by_key(mergeArr, 'sort_roder');
        treated_arry.push(sorted_arr);
      }
      //mergeImages(mergeArr,{width: 2000, height: 2000,quality:1}).then(b64 => imgElam.attr("src",b64))
    }

    let temporary = [];
    var j, chunk = 50;
    console.log(treated_arry.length)
    for (i = 0,j = treated_arry.length; i < j; i ++) {
      $.ajax({
        method: "post",
        dataType:     'json',
        url:          "{% url 'collectibles:save_arr' pk=pk %}",
        data:         {"data":JSON.stringify(treated_arry[i])},
      })
    }
    $("#download").click(function(){
      DownalodImage()
    })
    function DownalodImage(){
      console.log("dow")
      var images = document.getElementsByTagName('img');
      var srcList = [];
      var i = 0;
      if(images.length > i){
              srcList.push(images[i].src);
              var link = document.createElement("a");
              link.id=i;
              link.download = images[i].src;
              link.href = images[i].src;
              link.click();
              i++;
          }
      
    }
  </script>
{% endblock inline_javascript %}
